[Unit]
Description=Weekly ansible-pull run
Requires=ansible-pull.service

[Timer]
OnCalendar=Sun 03:00 America/New_York
AccuracySec=30m
Persistent=false

[Install]
WantedBy=timers.target