[Unit]
Description=Runs ansible-pull to maintain system configuration and updates

[Service]
Type=simple
ExecStart=ansible-pull -U https://github.com/NotThePaintStore/desktop-configurations.git hub-nuc-atomic.yml

[Install]
WantedBy=multi-user.target